.mtimetable-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 10px;
  gap: 20px;

  &:last-child {
    margin-bottom: 20px;
  }

  &-time {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;

    &-startdate {
      position: relative;
      opacity: .7;

      &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 1px;
        background-color: #FFF;
      }
    }

    &-enddate {
      opacity: .7;
    }
  }

  &-info {
    &-name {
      color: #FFF;
      font-size: 24px;
      font-weight: 900;
      opacity: .7;
    }
    &-desc {
      color: #FFF;
      font-size: 10px;
      font-weight: 400;
      opacity: .7;
    }
  }
}