.mtimetable {
  border: 1px solid #FFF;
  border-radius: 15px;
  max-width: 500px;
  max-height: 500px;
  margin: 20px auto 10px auto;
  overflow-y: scroll;
  pointer-events: all;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }

  &-h2 {
    color: #FFF;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
}