<p class="text">
  <span class="under-heading">Інженерний департамент AVR Development</span> об’єднує в штаті фахівців із проектування
  основних
  спеціальностей, необхідних
  для розробки якісного проекту, а це – спеціалісти із водопостачання, опалення, вентиляції, електропостачання,
  автоматики, енергоефективності та екології.
</p><br><br>

<p class="text">
  <span class="under-heading">Сертифіковані головні інженери</span> проектів департаменту координують різні частини
  проекту, а також, за потреби, залучають
  до співпраці спеціалізовані проектні організації. Фахівці інженерного департаменту AVR Development забезпечують
  замовникам комплексні послуги, зокрема, передпроектні пропозиції із варіантами оптимальних схем електро-, тепло- та
  холодопостачання з техніко-економічним обґрунтуванням. При цьому, гнучкий підхід до роботи пропонує коригування
  проектних рішень у процесі будівництва, відповідно до побажань клієнта чи законодавчих змін.
</p><br><br>

<p class="text">
  <span class="under-heading">Особливістю</span> роботи інженерного департаменту AVR Development є використання сучасних
  методів 3D-проектування – BIM
  (Building Information Model). Такий підхід дозволяє приймати оптимальні рішення в будівельних проектах ще на етапі
  проектування, передбачити та уникнути можливих помилкових рішень. Компанія також має досвід застосування методу оцінки
  екологічної ефективності будівництва BREEAM (Building Research Establishment Environmental Assessment Method). Це
  провідний і найбільш широко вживаний стандарт ефективного проектування, який є визнаною основою для опису екологічних
  характеристик будівлі.
</p><br><br>

<p class="text">
  <span class="under-heading">Інженери AVR</span> пропонують девелоперам нові технології та підходи при будівництві. До
  прикладу, компанія однією з перших
  у Львові запроектувала індивідуальні поквартирні теплові пункти із можливістю незалежного регулювання та контролю
  опалення в квартирах житлового комплексу «Сіті» на просп. Чорновола, передбачила генератори, що працюють на природному
  газі як варіант резервного електропостачання офісного центру Viking Park на вул. Зеленій та створили перший у Львові
  автомобільний ліфт в житловому комплексі на вул. Єфремова.
</p><br><br>

<p class="text">
  <span class="under-heading">Зараз фахівці</span> AVR працюють одразу над кількома масштабними проектами, серед яких
  житлові та громадські комплекси,
  завод міжнародної мережі та новий гірськолижний курорт, тож компанія має низку вакансій на інженерні професії. Зокрема
  є запит на фахівців-проектантів систем водопостачання, каналізації, опалення, вентиляційних мереж та
  електропостачання.
</p><br><br>

<p class="text">
  <span class="under-heading">Компанія шукає</span> вмотивованих спеціалістів із досвідом та без нього, які готові
  вчитися, здобувати досвід завдяки
  стажуванням та консультаціям із працівниками AVR.
  «Специфіка професії інженера передбачає високий поріг входу в професію, оскільки після навчання спеціаліст повинен
  знати не лише нормативну базу, а й, наприклад, володіти знаннями про сучасні технології проектування, як-от BIM. Тому
  наша компанія пропонує стажування для студентів, у межах якого є унікальна можливість попрацювати разом із старшими
  досвідченними спеціалістами й повчитися у них. Такої можливості у невеликих бюро немає», – зазначає директор
  інженерного департаменту AVR Development Анатолій Бубряк.
</p><br><br>