.text {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
}

.heading {
  font-family: 'Unbounded', sans-serif;
  font-size: 38px;
  font-weight: 700;
}

.under-heading {
  font-family: 'Manrope', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.list-heading {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
}

.list-text {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
}