.map {
  position: relative;
  min-height: 700px;
  min-width: 800px;
  background-color: #000;
  border: 1px solid #FFF;
  border-radius: 20px;
}

.mmap {
  position: relative;
  min-height: 320px;
  min-width: 300px;
  background-color: #000;
  border: 1px solid #FFF;
  border-radius: 15px;
}
